main {
  max-width: 900px;
  width: 90%;
  margin: 8rem auto;
}

main h1 {
  font-size: 3rem;
  letter-spacing: -4px;
  border-bottom: 1px solid #fff;
  margin-bottom: 4rem;
}

main .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
