main {
  max-width: 900px;
  width: 90%;
  margin: 8rem auto;
}

main h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #111827;
}

main p {
  margin: 1rem 0;
  font-size: 0.875rem;
  color: #111827;
  opacity: 0.8;
}
