.container div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
}

div + div {
  margin-top: 2rem;
}

.container div h2 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #111827;
  flex: 1;
}

.container div span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #075985;
}

.container div button {
  padding: 0.5rem 1rem;
  border: 1px solid #075985;
  background-color: transparent;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 800;
  color: #075985;
  transition: 300ms;
}

.container div button:hover {
  cursor: pointer;
  background-color: #075985;
  color: #fff;
}

@media (max-width: 768px) {
  .container div {
    flex-direction: column;
  }

  .container div h2 {
    text-align: center;
  }
}
